* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-image: url(https://image.cdn2.seaart.ai/2023-08-29/15718937463421957/88f59dbdc859df9c163af54045e46db58a68ad94_high.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#master {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  top: 25px;
}

.box1 {
  height: 500px;
  width: 400px;
  color: aliceblue;
  border: 2px solid #fffdfdcf;
  border-radius: 10%;
}

.heading {
  font-size: 2rem;
  margin-top: 120px;
  margin-bottom: 77px;
  text-align: center;
}

.content {
  font-size: medium;
  text-align: center;
}

.main {
  text-align: center;
  font-size: 1.2rem;
}

.inline {
  display: flex;
  text-align: center;
  font-weight: 500;
}

#btn {
  width: 250px;
  background-color: rgb(240, 99, 5);
  height: 35px;
  position: relative;
  top: 40px;
  left: 70px;
  border-radius: 15px;
  border: none;
  color: aliceblue;
}

#btn:hover {
  background-color: rgb(81, 81, 230);
}

.box2 {
  height: 500px;
  width: 400px;
  background-color: s;
  border: 2px solid #fffdfdcf;
  border-radius: 10%;
  text-align: center;
}

#h1 {
  font-size: 3rem;
  margin-top: 23px;
  color: white
}

.input {
  width: 320px;
  height: 40px;
  margin-top: 23px;
  border-radius: 5px;
  border: none;
  background-color: rgb(241, 241, 243);
  text-align: center;
}

.signup {
  width: 320px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-top: 23px;
  color: white;
  background-color: rgb(255, 68, 35);
}

.signup:hover {
  background-color: blue;
}

.center {
  text-align: center;
  margin-top: 13px;
  color: rgb(127, 131, 233);
  margin-bottom: 13px;
}

.imgs{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

#facebook {
  height: 25px;
  width: 25px;
}

#gmail {
  height: 32px;
  width: 27px;
}

#linkdin {
  height: 28px;
  width: 30px;
}